.detail {
  width: 40rem;
  border-radius: 2.4px;
  background-color: var(--white-two);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: 1.375rem;
}

.detail .image {
  width: 33rem;
  height: 16rem;
  background-color: var(--green);
  margin: 0.8rem 0.8rem 0.8rem 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail .image span {
  font-size: 3.5rem;
  color: var(--white-two);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail span {
  color: var(--warm-grey);
  font-size: 1.063rem;
  width: 33rem;
  margin: 0.8rem 0.8rem 0.8rem 0.9rem;
  text-align: justify;
}

@media (max-width: 600px) {
  .detail {
    width: 21.875rem;
  }

  .detail .image {
    width: 20.25rem;
    height: 9.219rem;
  }

  .detail span {
    width: 20.25rem;
  }
}

@media (max-width: 568px) {
  .detail {
    width: 19rem;
  }

  .detail .image {
    width: 17rem;
    height: 9.219rem;
  }

  .detail span {
    width: 16.25rem;
  }
}
