.loading {
  position: absolute;
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-two-alpha);
  -webkit-backdrop-filter: blur(0.5px);
  backdrop-filter: blur(0.5px);
  z-index: 2;
}

.loading .loader {
  border: 0.6rem solid var(--greeny-blue);
  border-top: 0.6rem solid #f3f3f300;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
