.error-component {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.error-component span {
  color: var(--error);
  font-size: 2rem;
  margin-right: 1rem;
}

@media (max-width: 568px) {
  .error-component span {
    font-size: 1.4rem;
  }
}
