nav {
  position: relative;
  width: 100%;
  height: 6.719rem;
  /* background-image: linear-gradient(180deg, #ee4c77 24%, #0d0430 66%); */
  background-color: var(--pink);
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.nav-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-detail span {
  color: var(--white-two);
  font-size: 1.7rem;
  text-transform: uppercase;
}

nav .arrow-icon {
  margin-right: 2.5rem;
  margin-left: 1.3rem;
  cursor: pointer;
}

nav .search-icon {
  position: absolute;
  right: 1.4rem;
  bottom: 2rem;
  cursor: pointer;
}

nav input {
  height: 2rem;
}
