:root {
  --white: #d8d8d8;
  --white-two: #ffffff;
  --white-two-alpha: rgba(255, 255, 255, 0.6);
  --dark-indigo: #1a0e49;
  --warm-grey: #8d8c8c;
  --green: #7dc075;
  --greeny-blue: #57bbbc;
  --greeny-blue-hover: #4b999b;
  --beige: #ebe9d7;
  --gray: #3837437a;
  --pink: #ee4c77;
  --gray-dark: #403e4d;
  --error: #ff0f44;
  --disabled: #748383;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--beige);
}

@font-face {
  font-family: Roboto;
  src: url("./Helpers/Assets/Fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Roboto;
  src: url("./Helpers/Assets/Fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: SourceSansPro;
  src: url("./Helpers/Assets/Fonts/SourceSansPro/SourceSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.text-style-5 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--white-two);
}
.text-style-4 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #991237;
}
.text-style-3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.23px;
  text-align: center;
  color: #383743;
}
.text-style-6 {
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-indigo);
}
.text-style-11 {
  font-family: Roboto;
  font-size: 12.8px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: center;
  color: #383743;
}
.text-style-10 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #383743;
}
.text-style-7 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--warm-grey);
}
.text-style-9 {
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.19px;
  text-align: left;
  color: var(--warm-grey);
}
.text-style-8 {
  font-family: Roboto;
  font-size: 9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--warm-grey);
}
.text-style-2 {
  font-family: Roboto;
  font-size: 9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
  text-align: left;
  color: #383743;
}
.text-style {
  font-family: Roboto;
  font-size: 9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -0.13px;
  text-align: center;
  color: #383743;
}
