.primary-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-input .content {
  position: relative;
}

.primary-input input {
  border: none;
  border-bottom-color: var(--gray);
  border-bottom-style: inset;
  border-bottom-width: 0.03rem;

  background-color: var(--beige);
  padding: 1.6rem 1.6rem 0.3rem 2.3rem;
  font-size: 1.1rem;
  color: var(--gray-dark);
}

div .icon-left {
  position: absolute;
  z-index: 1;
  bottom: 0.6rem;
  left: 6px;
}

div .icon-right {
  position: absolute;
  z-index: 1;
  bottom: 0.6rem;
  right: 6px;
  cursor: pointer;
}

::placeholder {
  color: var(--gray);

  font-size: 1.1rem;
}

div .error-message {
  color: var(--error);
}

.primary-input .border-error {
  border-bottom-color: var(--error);
}

.invalid-credentials {
  background-color: var(--error);
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
