div .sign-in {
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div .image {
  margin-bottom: 3rem;
}

div .sign-in img {
  max-width: 100%;
  height: auto;
}

div .sign-in .welcome {
  max-width: 250px;
  display: flex;
  justify-content: center;
  margin: 7px;
}

div .sign-in .welcome-text {
  font-size: 2rem;
  text-transform: uppercase;
}

div .sign-in .description {
  max-width: 300px;
  display: flex;
  justify-content: center;
  margin: 7px;
}

div .sign-in .description-text {
  font-size: 1rem;
}

div .sign-in .form-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div .sign-in .form-sign-in .button {
  margin-top: 2.4rem;
}

div .sign-in .form-sign-in .content-msg-error {
  margin: 0.7rem 0.7rem;
}

div .sign-in .form-sign-in .content-msg-error .msg-error {
  color: var(--error);
  font-size: 0.7rem;
}
