.card {
  width: 40rem;
  border-radius: 2.4px;
  background-color: var(--white-two);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
}

.card:hover {
  -webkit-box-shadow: -23px 20px 55px -35px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: -23px 20px 55px -35px rgba(0, 0, 0, 0.54);
  box-shadow: -23px 20px 55px -35px rgba(0, 0, 0, 0.54);
  transform: translate(0px, 2px);
  cursor: pointer;
}

.card .image {
  width: 9.156rem;
  height: 5rem;
  background-color: var(--green);
  margin: 0.8rem 1.23rem 0.8rem 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .image span {
  font-size: 2.3rem;
  color: var(--white-two);
  font-weight: bold;
}

.card .content {
  display: flex;
  flex-direction: column;
}

.card .content .enterprise-name {
  font-size: 2rem;
}
.card .content .enterprise-type-name {
  font-size: 1.3rem;
}
.card .content .enterprise-country {
  font-size: 1rem;
}

@media (max-width: 600px) {
  .card {
    width: 20rem;
  }
  .card .content .enterprise-name {
    font-size: 1rem;
  }
  .card .content .enterprise-type-name {
    font-size: 0.9rem;
  }
  .card .content .enterprise-country {
    font-size: 0.8rem;
  }
}
