.input-search {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.input-search form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-search input {
  border: none;
  border-bottom-color: var(--white-two);
  border-bottom-style: inset;
  border-bottom-width: 0.03rem;

  width: 90%;
  background-color: var(--pink);
  padding: 1.6rem 1.6rem 1.6rem 6.3rem;
  font-size: 1.1rem;
  color: var(--white-two);
}

.input-search .icon-right {
  position: absolute;
  right: 8%;
  cursor: pointer;
}

.input-search .icon-left {
  position: absolute;
  left: 8%;
  cursor: pointer;
}

.search input::-webkit-input-placeholder {
  color: #991237;
  font-size: 1.1rem;
}

@media (max-width: 600px) {
  .input-search input {
    padding: 1.6rem 1.6rem 1.6rem 4.3rem;
  }
}

@media (min-width: 2000px) {
  .input-search input {
    padding: 1.6rem 1.6rem 1.6rem 8.3rem;
  }
}
