.primary-button {
  width: 220px;
  padding: 0.9rem 0.6rem;
  border: none;
  border-radius: 1.8px;
}

.primary-button button .title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.disabled {
  background-color: var(--disabled);
}

.active {
  background-color: var(--greeny-blue);
}

.active:hover {
  background-color: var(--greeny-blue-hover);
  cursor: pointer;
}
